@font-face {
  font-family: 'Cormorant SC';
  src: url('./CormorantSC-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC/CormorantSC-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC/CormorantSC-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC/CormorantSC-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC/CormorantSC-Bold.ttf');
  font-weight: 700;
}
