* {
  margin: 0;
  padding: 0;
  line-height: 100%;
  box-sizing: border-box;
}

h1 {
  font-family: Cormorant SC;
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
}

h2 {
  font-family: Cormorant SC;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

h3 {
  font-family: Cormorant SC;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

h4 {
  font-family: Cormorant SC;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

h5 {
  font-family: Cormorant SC;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  font-family: Cormorant SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
